<div class="card col-md-6 m-auto">
  <!-- <img src="{{album[0].url}}" class="card-img-top" alt="..."> -->
  <div class="card-body">
    <div class="card-title">
      {{album?.title}}
    </div>
    <p class="card-text">{{album?.description}}</p>
    <p class="text-primary">Musiques: </p>
    <p *ngFor=" let music of album?.musiques">
      {{music.title}}
    </p>
  </div>
</div>


<div class="container mt-5">
  <h2>Ajouter de la musique</h2>
  <form >
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" id="title" class="form-control" formControlName="title" placeholder="Entrez le titre de la musique" required>
    </div>

    <div class="form-group">
      <label for="lyrics">Paroles</label>
      <textarea id="lyrics" class="form-control" formControlName="lyrics" rows="5" placeholder="Entrez les paroles de la musique" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
