

<div class="container mt-4">
  <h2 class="text-center text-primary mb-4">Créer un Album</h2>
  <form (ngSubmit)="createAlbum()" class="p-4 border rounded shadow bg-light">
    <div class="mb-3">
      <label for="title" class="form-label fw-bold text-secondary">Titre</label>
      <input
        type="text"
        id="title"
        class="form-control"
        [(ngModel)]="newAlbum.title"
        name="title"
        placeholder="Entrez le titre de l'album"
        required
      />
    </div>
    <div class="mb-3">
      <label for="artist" class="form-label fw-bold text-secondary">Artiste</label>
      <input
        type="text"
        id="artist"
        class="form-control"
        [(ngModel)]="newAlbum.name"
        name="artist"
        placeholder="Entrez le nom de l'artiste"
        required
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label fw-bold text-secondary">Description</label>
      <textarea
        id="description"
        class="form-control"
        rows="4"
        [(ngModel)]="newAlbum.description"
        name="description"
        placeholder="Entrez la description de l'album"
        required
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="duration" class="form-label fw-bold text-secondary">Durée (en minutes)</label>
      <input
        type="number"
        id="duration"
        class="form-control"
        [(ngModel)]="newAlbum.duration"
        name="duration"
        placeholder="Entrez la durée de l'album"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary w-100">Créer Album</button>
  </form>
</div>
